/* *** *** *** *** *** *** *** *** メイン *** *** *** *** *** *** *** *** *** *** *** */

html {
	font-family: sans-serif;
	scroll-behavior: smooth;
}

html * {
	box-sizing: border-box;
}

body {
	margin: 0 0 0 1em;
	background-color: #fffcf5;
}

.wide {
	margin: 0 auto 0 auto;
	max-width: 960px;
}

.noselect {
	-webkit-user-select: none;
	user-select: none
		/* 選択を禁止する */
}

select {
	text-decoration: underline;
}

.float {
	float: left;
	padding: 0 2em 0 1em;
	width: 190px;
}

h2 {
	color: #3f5170;
	font-size: 22px;
	border-bottom: 3px dotted #3f5170;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}


h3 {
	font-weight: 700;
}

h4 {
	margin-top: 50px;
	padding: 0;
	color: #3f5170;
}

p {
	line-height: 1.6;
}

a:link,
a:visited {
	color: #d25833;
}

a:hover {
	color: #e3937a;
}

a:active {
	color: #ff6a3b;
}

/* ARK目次 */
a:link[class="mokuji"],
a:visited[class="mokuji"] {
	color: #3f5170;
}

a:hover[class="mokuji"] {
	color: #508cb7;
}

a:active[class="mokuji"] {
	color: #6c6378;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.clink {
	color: #d25833;
}


.mokuji {
	color: #3f5170;
}

.border{
	margin-bottom: 10px;
	color: #3f5170;
	border: #3f5170 solid 1px;
	padding-left: 4px;
	padding-right: 4px;
	width: fit-content;
}

.main {
	padding-left: 1em;
}

.main h4 {
	margin-top: 100px;
	padding: 0;
	color: #3f5170;
}

/* ark */
.ark_table {
	border-collapse: collapse;
}

.ark_table th,
.ark_table td {
	padding: 8px;
	border: 1px solid #bec2c7;
	text-align: left;
}

/*へっだー*/
.logo {
	margin: 50px 0 40px 0;
	text-align: center;
}

.nav ul {
	margin: 0 0 0 0;
	padding: 20px 10px 15px 20px;
	background-image: url(../image/menu-bg.png);
	background-repeat: repeat-x;
}

.nav li {
	display: inline;
	list-style-type: none;
	padding-right: 30px;
}


/* ふったー */
.footer {
	background-image: url(../image/footer-bg.png);
	background-repeat: repeat-x;
	margin-top: 30px;
	padding: 80px 15px 20px 15px;
	font-size: 13px;
	color: #3f5170;
}


/* てーぶる */
.info {
	border-collapse: collapse;
}

.info th,
.info td {
	padding: 8px;
	border: 1px solid #bec2c7;
	text-align: left;
}

.info th {
	background-color: #fff7e3;
	width: 100px;
	color: #3f5170;
	vertical-align: top;
}

.nospace {
	margin: 0;
	padding: 0;
}

.profileimg {
	float: left;
	padding: 0;
	margin: 0 5px;
	width: 190px;
}

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */


/* *** *** *** *** *** *** *** *** 目次プルダウン *** *** *** *** *** *** *** *** *** *** *** */

.boxShadow{
	box-shadow: 2px 2px 2px 3px rgba(81, 103, 141, 0.696) ;
	-webkit-box-shadow: 2px 2px 2px 3px rgba(81, 103, 141, 0.696) ;
	-moz-box-shadow: 2px 2px 2px 3px rgba(81, 103, 141, 0.696) ;
	-o-box-shadow: 2px 2px 2px 3px rgba(81, 103, 141, 0.696) ;
	-ms-box-shadow: 2px 2px 2px 3px rgba(81, 103, 141, 0.696) ;
	background-color: #f2f0e9;
	border-radius: 5px;
	margin: 8px;
	padding: 10px;
	font-size: larger;
}




/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */


/* *** *** *** *** *** *** *** *** 目次プルダウン *** *** *** *** *** *** *** *** *** *** *** */

.selectdiv {
	position: relative;
}

.selectdiv:after {
	content: '<>';
	font: 15px "Consolas", monospace;
	color: #d25833;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	top: 2px;
	/*Adjust for position however you want*/

	/* top: 18px;
	padding: 0 0 2px;
	border-bottom: 1px solid #999;
	left line */

	position: absolute;
	pointer-events: none;
}

.selectdiv select {
	color: #d25833;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #ffffff;
	background-image: none;
	border: 0px;
	font-size: 17px;
}

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* *** *** *** *** *** *** *** *** PhasmoPhobia *** *** *** *** *** *** *** *** *** *** *** */

/* ゴースト名前丸囲み */
.border-radius {
	line-height: 30px;
	border-radius: 50%;
	text-align: center;
	padding: 0px 3px 0px 3px;
	border: 2px solid black;
	text-decoration-line: none;
}

/* 取り消し線 */
.line-through {
	text-decoration-line: line-through;
	text-decoration-thickness: 2px;
}

/* 文字線除去 */
.none-underline {
	text-decoration-line: none;
}

/* ボーダーライン */
.border-Line {
	width: 500px;
	margin-left: 30px;
	margin-bottom: 10px;
	border: 2px solid black;
}

/* 証拠　チェックボックス */
/* □ */
.square {
	display: inline-block;
	position: relative;
	width: 18px;
	height: 18px;
	border: 2px solid #333;
	/* 枠の調整 */
	background: rgba(0, 0, 0, 0);
	/* ボタンの背景色 */
}

/* ☑ */
.checkbox {
	display: inline-block;
	position: relative;
	width: 18px;
	height: 18px;
	border: 2px solid #333;
	/* 枠の調整 */
	background: rgba(0, 0, 0, 0);
	/* ボタンの背景色 */
}

.checkbox::before,
.checkbox::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 3px;
	height: 20px;
	background: #333;
}

.checkbox::before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.checkbox::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}


/* 文字の色変更 */

.PPevidence {
	border-collapse: collapse;
	margin-left: 40px;
}

.PPevidence a {
	color: black;
}

.PPevidence td {
	border: solid 0px black;
	height: 30px;
	width: 250px;
}


.PPghost {
	border-collapse: collapse;
	margin-left: 20px;
}

.PPghost a {
	color: black;
}

.PPghost td {
	border: solid 0px black;
	height: 36px;
	width: 180px;
	text-align: center;
}

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */


/***追従するトップへ戻るボタン***/
.page-top {
	position: fixed;
	right: 5px;
	bottom: 20px;
	width: 50px;
}

.up {
	opacity: 0;
	transition: all 1s ease;
}

.up.show {
	opacity: 1;
	transform: none;
}

.op {
	transform: translate(0, 100px);
}

/***トップへ戻るボタンここまで ***/

/*** SteamWorkshop カード ***/
.linkcard {
	position: relative;
	border: 2px solid rgba(210, 88, 51, 0.25);
	padding-top: 20px;
	padding-right: 100px;
	padding-bottom: 25px;
	padding-left: 40px;
	overflow: hidden;
	border-radius: 5px;
	width: 700px;
}

.linkhead {
	display: block;
	margin-bottom: 20px;
	line-height: 1.5;
	font-weight: 700;
}

.linkimg {
	overflow: hidden;
	position: absolute;
	height: auto;
	right: 50px;
	top: 15px;
	width: 100px;
	height: 100px;
}

.linkimg img {
	position: absolute;
	transition: .3s;
}

.linkimg img:hover {
	transform: scale(1.2);
	transition: .3s;
}

/*** SteamWorkshop カード ここまで ***/



@media screen and (max-width: 1000px) {

	/* 全体 - ナビゲーション */
	.wrapper {
		margin: 0 8px;
	}

	.logo {
		margin: 30px auto 20px 1em;
		max-width: 200px;
	}

	.logo img {
		height: 100px;
	}


	.selectdiv::after {
		content: '<>';
		font: 30px "Consolas", monospace;
		color: #d25833;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		top: 4px;
		/*Adjust for position however you want*/

		/* top: 18px;
		padding: 0 0 2px;
		border-bottom: 1px solid #999;
		left line */

		position: absolute;
		pointer-events: none;
	}

	.selectdiv select {
		color: #d25833;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: #ffffff;
		background-image: none;
		border: 0px;
		font-size: 40px;
	}

	.nav li {
		display: block;
	}

	 nav.nav ul li a{
		font-size: 40px;
	}

	.float {
		display: table;
		table-layout: auto;
		float: right;
		padding: 0 1em 0 1em;
		width: 190px;
	}

	.linkcard {
		width: auto;
	}

	.linkhead {
		width: 83%;
	}

	table.mokuji {
		color: #3f5170;
		font-size: 40px;
	}

}