.groupBtn {
    position: relative;
    overflow: hidden;
    display: inline-block;

    background-color: #89b2e5;
    color: white;
    border: none;
    padding: 10px 12px;
    font-size: large;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 2px;
}

.groupBtn.isActive {
    background-color: #7ca0cc;
    transform: translateY(0.5px);
}


.groupBtn:active {
    background-color: #7b91ad;
    transform: translateY(1px);
    box-shadow: 0 0 0 #1e40af;
}